<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Thêm mới" icon="pi pi-plus" class="p-button-success mr-2"
        (click)="openNew()"></button>
      <button *ngIf="selectedRows && selectedRows.length" pButton pRipple label="Xóa" icon="pi pi-trash"
        class="p-button-danger" (click)="deleteSelected()"></button>
    </ng-template>

    <!-- <ng-template pTemplate="right">
      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
        class="mr-2 inline-block"></p-fileUpload>
      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
    </ng-template> -->
  </p-toolbar>

  <p-table #dt [scrollable]="true" scrollHeight="400px" [value]="products" [rows]="10" [paginator]="true"
    [globalFilterFields]="['name']" responsiveLayout="scroll" [(selection)]="selectedRows" [rowHover]="true"
    dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Danh sách sản phẩm</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" placeholder="Tìm kiếm..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="max-width:3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="min-width:200px" pSortableColumn="name">Tên sản phẩm <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th style="max-width:200px" pSortableColumn="price">Giá <p-sortIcon field="price"></p-sortIcon>
        </th>
        <th style="max-width:120px">Chức năng</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td style="max-width:3rem">
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>
        <td>{{product.name}}</td>
        <td style="max-width:200px">{{product.price | currency:'VND'}}</td>
        <td style="max-width:120px">
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
            (click)="edit(product)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="delete(product)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{products ? products.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="openDialog" [style]="{width: '750px'}" header="Chi tiết sản phẩm" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">Tên sản phẩm</label>
      <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus />
      <small class="p-error" *ngIf="submitted && !product.name">Nhập tên</small>
    </div>
    <div class="field">
      <label for="size">Kích thước</label>
      <textarea id="size" pInputTextarea [(ngModel)]="product.size" rows="3" cols="20"></textarea>
    </div>
    <div class="formgrid grid">
      <div class="field col">
        <label for="price">Giá</label>
        <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="VND" locale="vi-VN"
          [required]="true">
        </p-inputNumber>
        <small class="p-error" *ngIf="submitted && !product.price">Nhập giá</small>
      </div>
      <div class="field col">
        <label for="unit">Đơn vị</label>
        <p-dropdown appendTo="body" id="unit" [options]="units" [(ngModel)]="product.unit" optionLabel="name"
          [required]="true">
        </p-dropdown>
        <small class="p-error" *ngIf="submitted && !product.unit">Nhập đơn vị</small>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
