<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="formgrid grid">
    <ng-template ngFor [ngForOf]="fields" let-field>
      <div class="field" [class]="'col-' + field.width">
        <label [attr.for]="field.key" class="block">{{field.label}}</label>
        <ng-container [ngSwitch]="field.controlType">
          <input *ngSwitchCase="'InputText'" [id]="field.key" [type]="field.type" [formControlName]="field.key"
            [attr.aria-describedby]="field.key + '-help'" class="w-full" [class.ng-invalid]="true"
            [class.ng-dirty]="true" pInputText />


        </ng-container>

        <small [id]="field.key + '-help'" class="p-error block">{{field.label}} is not available.</small>
      </div>
    </ng-template>

    <div class="field col-12">
      <button pButton type="submit" label="Submit"></button>
    </div>
    <div class="field col-12">
      <button pButton type="button" label="Test Update" (click)="update()"></button>
    </div>
  </div>
</form>
