$slidebar-width: 250px;

:host {
  .layout-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    .layout-slidebar {
      position: fixed;
      left: 0;
      top: 0;
      height: 100vh;
      background-color: #ffffff;
      width: $slidebar-width;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      overflow-y: auto;
      flex-grow: 1;

      a {
        color: var(--text-color);
        display: flex;
        align-items: center;
        padding: 1rem 0.75rem;
        border-bottom: 1px solid #d5d8dc;
        cursor: pointer;

        &.active {
          color: #36f;
          background-color: #f4f6f6;
        }
      }
    }

    .layout-content {
      height: 100vh;
      margin-left: $slidebar-width;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      background-color: #f2f3f4;
      padding: 2rem;
    }
  }
}
